---
import Layout from './Layout.astro';
import { fetchPhotos } from '../data/photos';

const { fileName } = Astro.props;

// Fetch photos using our updated function
const galleryPhotos = await fetchPhotos();
const photo = galleryPhotos.find(item => item.fileName === fileName);

// Handle case where photo is not found
if (!photo) {
  return Astro.redirect('/gallery');
}
---

<Layout title={photo.fileName}>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-8">
                <img 
                    src={photo.url} 
                    alt={photo.fileName}
                    class="img-fluid rounded shadow"
                />
            </div>
            <div class="col-lg-4">
                <h1 class="h2 mb-4">{photo.fileName}</h1>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Details about the photo can go here.</p>
                    </div>
                </div>
                <div class="mt-4">
                    <a href="/gallery" class="btn btn-outline-primary">
                        <i class="fas fa-arrow-left me-2"></i>
                        Back to Gallery
                    </a>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    img {
        max-height: 80vh;
        width: 100%;
        object-fit: contain;
    }
</style>
